.main-section {
  padding: 30px 40px;
}

.main-section > p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #566474;
}

.main-container {
  display: flex;
  align-items: center;
  gap: 30px;

  margin-top: 30px;
}

.main-container__left, 
.main-container__right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-container__right {
  height: 100%;
  justify-content: space-between;
}