.syllabus {
  display: flex;
  justify-content: space-between;
  width: 326px;
}

.syllabus__left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.syllabus__left > p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: rgb(86, 100, 116);
}

.slider {
  width: 197px;
  height: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
}

.range {
  height: 100%;
  width: 100%;
}

.syllabus__right {
  align-self: flex-end;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  letter-spacing: -0.02em;

  color: #438af6;
}
